.contactUs {
  &_title {
    text-align: center;
    padding-bottom: 50px;
    @include media-to(xs-less) {
      padding-bottom: 20px;
    }
  }
  &_form {
    margin: 0 auto;
    max-width: 540px;
    position: relative;
    &_circle {
      position: absolute;
      display: flex;
      flex-shrink: 0;
      top: -60%;
      left: -40%;
      width: 1000px;
      height: 621px;
      background: var(--formCircle);
      border-radius: 50%;
      z-index: -2;
    }

    &_button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 15px;
      @include media-to(sm-less) {
        .main-button {
          margin-right: 0;
        }
      }
      @include media-to(sm-less) {
        flex-direction: column;
      }
      .formInfo {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        &:hover {
          text-decoration: none;
          color: var(--collorHover);
        }
        .email {
          text-decoration: underline var(--collorHover);
        }
      }
    }
  }
  &_input {
    border-radius: 0;
    border-color: #000;
    &:focus,
    &:active {
      border: 1px solid #000;
      box-shadow: none;
    }
  }
}
.email-link {
  @include media-to(sm-less) {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
  }
}