.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 791px;


.text {
  max-width: 650px;

}
  &_text {
    display: flex;
  }
  &_subtitle {
    margin-top: 25px;
    margin-bottom: 40px;
  }

&_button {
  display: flex;
  align-items: center;
  @include media-to(sm-less) {
    flex-direction: column;
    .main-button {
      margin-top: 20px;
    }
  }
}
  &_img {
    display: block;
    position: absolute;
    top: 15%;
    right: 20%;
    //width: 1055px;

    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 450px;

    padding-bottom: 37.1%;
    z-index: -1;

    box-shadow: 1px 1px 12px #f6f5f2;

    img {
      position: absolute;
      width: auto;
      height: 100%;
    }
  }
}