.gl-title {
  @include fluid-size-md(font-size, 16px, 40px);
  font-family: var(--PlayfairRegular);
  line-height: 100%;
  color: var(--textLight);
  padding-bottom: 30px;
}
.buttonText {
  @include fluid-size-md(font-size, 12px, 18px);
  font-family: var(--GilroyRegular);
}
.mainTextLight {
  @include fluid-size-md(font-size, 10px, 18px);
  font-family: var(--GilroyRegular);
  line-height: 140%;
  color: var(--textLight)
}
.mainTextGray {
  @include fluid-size-md(font-size, 10px, 18px);
  font-family: var(--GilroyRegular);
  line-height: 140%;
  color: var(--textGray)
}
.mainTextDark {
  @include fluid-size-md(font-size, 10px, 18px);
  font-family: var(--GilroyRegular);
  line-height: 140%;
  color: var(--textDarck)
}
.bannerFooter {
  @include fluid-size-md(font-size, 10px, 20px);
  font-family: var(--GilroyRegular);
  line-height: 140%;
  color: var(--textLight);
}

.sectionTitleLight {
  @include fluid-size-md(font-size, 15px, 40px);
  font-family: var(--PlayfairRegular);
  line-height: 100%;
  color: var(--textLight)
}
.sectionTitleDark {
  @include fluid-size-md(font-size, 15px, 40px);
  font-family: var(--PlayfairRegular);
  line-height: 100%;
  color: var(--textDarck)
}
.sectionSubtitle {
  @include fluid-size-md(font-size, 10px, 18px);
  font-family: var(--GilroyRegular);
  line-height: 100%;
  color: var(--textMainColor)
}




