//Oswald
@font-face {
  font-family: 'OswaldBold';
  src: url("../fonts/oswald/Oswald-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OswaldMedium';
  src: url("../fonts/oswald/Oswald-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OswaldRegular';
  src: url("../fonts/oswald/Oswald-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OswaldLight';
  src: url("../fonts/oswald/Oswald-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

////Poppins
@font-face {
  font-family: 'PoppinsLight';
  src: url("../fonts/poppins/Poppins-Light.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PoppinsBold';
  src: url("../fonts/poppins/Poppins-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PoppinsMedium';
  src: url("../fonts/poppins/Poppins-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PoppinsRegular';
  src: url("../fonts/poppins/Poppins-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



