.workflows {
  &_title {
    max-width: 690px;
    text-align: center;
    margin: 0 auto;
  }
  &_box {
    background-color: transparent !important;
    border: none !important;
    &_item {
      align-items: center;
      &:last-child {
        @media (max-width: 700px) {
          display: flex;
          flex-direction: column-reverse;
        }
      }
    }
  }
  &_img {
    display: block;
    position: relative;

    width: 100%;
    height: 100%;
    &_wrapper {
      width: 100%;
      height: 100%;
    }
    &_marcer {
      position: absolute;
      display: block;

      width: auto;
      height: 100%;

      top: -21%;
      left: 59%;
      @include media-to(m-plus) {
        top: -5%;
        left: 30%;
      }
    }
    &_dark,
    &_wight {
      position: absolute;
      display: block;

      width: auto;
      height: 100%;
      top: -5%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &_dark {
      left: 29%;
      top: 5%;
      z-index: -1;
    }
    &_wight {
      left: 15%;
    }
    img {
      width: auto;
      height: 100%;
    }
  }
  &_circle {
    position: absolute;
    display: flex;
    flex-shrink: 0;

    top: 0;
    left: 40%;

    width: 315px;
    height: 315px;

    background: var(--circle);
    //background-color: red;
    border-radius: 50%;
    z-index: -2;
    &.left {
      transform: matrix(-1, 0, 0, 1, 0, 0);
      left: -10%;
    }

  }
  &_wrapper {
    margin-top: 40px;
  }
}

.img_align_left {
  display: block;
  margin-left: auto;
}