
@font-face {
  font-family: 'ClearSans';
 src: url("../fonts/ClearSans-Regular.woff") format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUIBold';
  src: url("../fonts/SegoeUIBold.woff") format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUILight';
  src: url("../fonts/SegoeUILight.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SegoeUIRegular';
  src: url("../fonts/SegoeUIRegular.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
