$theme: (
        bgBannerColor: linear-gradient(107.89deg, #E1DDDB 0%, #F2F1ED 21.28%, #FDFCF9 65.53%, #E6E0DD 100.12%),
        bgGraynLightSection: #CED5D8,
        bgGraySection: linear-gradient(103.21deg, #302C34 2.8%, #59555D 26.3%, #4A474F 37.81%, #232224 92.31%),
        bgBoxGetStarted: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(23, 128, 155, 0.1) 73.44%),
        bgLightSection: #E5E5E5,
        bgFooter: #514E55,

        borderBoxGetStarted: 2px solid rgba(28, 110, 164, 0.46),
        circle: linear-gradient(270deg, rgba(85, 202, 232, 0.07) 4.6%, rgba(196, 196, 196, 0) 93.97%),
        formCircle:  linear-gradient(0deg, rgba(85, 202, 232, 0.07) 0%, rgba(196, 196, 196, 0) 40.2%),

        OswaldBold: "OswaldBold",
        OswaldMedium: "OswaldMedium",
        OswaldRegular: "OswaldRegular",
        OswaldLight: "OswaldLight",
        PoppinsRegular: "PoppinsRegular",
        PoppinsMedium: "PoppinsMedium",
        PoppinsBold: "PoppinsBold",
        PoppinsLight: "PoppinsLight",

        textLight: #fff,
        textDark: #2E2B32,

        footerCopy: #757378,

        buttonText: #E3E0DD,
        buttonBg: #2E2B32,

        collorHover: #4AC9F3,
);


