$theme: (
        colorText: #fff,
        hoverCollor: #e6362c,
        opasityBlok: 0.75,
        buttonGray: #4d4d4d,
        footerNav: #4d4d4d,
        colorOverlayBlock: #000,

        sectionCollor: #000,

        ClearSans: 'ClearSans',


        SegoeUIBold: 'SegoeUIBold',
        SegoeUILight: 'SegoeUILight',
        SegoeUIRegular: 'SegoeUIRegular',
);


